<div class="banner" style="background: url('https://hd.unsplash.com/photo-1454618454636-a42c7330ccce');">
  <div class="container-profile">
    <h1>New Profile</h1>

    <%= render 'form', profile: @profile %>

    <%= link_to 'Back', profiles_path, class: "btn btn-success" %>
  </div>
</div>
