/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

#hiking {
  position: relative;
}

#refhiking {
  position: absolute;
  top: 50%;
  right: 36%;
  a {
    color: white;
    border-color:white;
  }
 }
