/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

#hiking {
  position: relative;
}

#refhiking {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  // right: 36%;
  a {
    color: white;
    border-color:white;
  }
 }

 .triedus {
  padding-bottom: 10%;
 }

.triedus img {
  text-align: center;
  border-radius: 50%;
}

.exp-hiker {
  padding-top: 7%;
}

#homerefuge {
  padding-bottom: 10%;
}

#homehiking {
  padding-bottom: 6%;
  padding-top: 8%;
}

#texttried {
  text-align:center;
  width:75%;
  margin-left: 12.5%;
}
