#form-add-review {
  font-color:#C9D4D2;
  width:400px;
  text-align:center;
  margin-left:25%;
  padding-bottom: 40px;

}

#map {
  margin-bottom:10%;
}

.fa-star{
color:#FFD700;
}

.row_review {
  position:relative;
  height: 150px;
}


.avatar_review {
  position:absolute;
  top:15px;
  img {
    border-radius:50%;
    border:1px;
  }
}

.col-md-9 {
  width: 75%;
    height: 100px;
    position: relative;
    top: -50px;
}

#content_review {
  position: absolute;
  top:60%;
  width:70%;
}


#stars {
  position:absolute;
  right:10px;
  bottom:20px;
}
#delete-review {
position: absolute;
 right: 10px;
 bottom: -65px;
}

#bookit{
    position: absolute;
    right: 25%;
    bottom: 20%;
}

.booking_hikers_nb {
  position: absolute;
    right: 25%;
    width: 20%;
    bottom: 34%;
}

.description_refuge {
  padding-top: 4%;
  padding-left: 5%;
}
