  <div class="text-center padded">
  <h1>Editing Your Shelter</h1>
  </div>

    <%= render 'form', refuge: @refuge %>


    <div class="text-center padded">
    <%= link_to 'Show', refuge_path, class: "btn btn-success" %>
    <%= link_to 'Back To Our Catalog', refuges_path, class: "btn btn-success" %>
  </div>
