<div class="banner-refuge" style="background: url('https://hd.unsplash.com/photo-1444201431989-0b9fa7488323');">


<div class="col-xs-12 col-sm-12" id="refuge">


    <%= render 'form', refuge: @refuge %>



</div><br>


</div>
<div class="text-center padded">
    <%= link_to 'Show', refuge_path, class: "btn btn-success" %>
    <%= link_to 'Back To Our Catalog', refuges_path, class: "btn btn-success" %>
  </div>
