
      <div class="text-center padded">
        <h1>New Shelter</h1>
      </div>

      <%= render 'form', refuge: @refuge %>


      <div class="text-center padded">
        <%= link_to 'Back To Our Catalog', refuges_path, class: "btn btn-success" %>
      </div>

