 <!-- FOOTER -->
    <footer>
      <div class="footer clearfix">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 col-xs-12 col-sm-offset-1">
              <div class="footerContent" id="logo">
              <%= link_to root_path, class: "navbar-wagon-brand" do %>
                  <%= image_tag "logo.png" %>
                <%end%>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="footerContent" >
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                  <li><i class="fa fa-home" aria-hidden="true"></i>12 rue des Tours, Lille</li>
                  <li><i class="fa fa-phone" aria-hidden="true"></i>0658038033</li>
                  <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailTo:info@star-travel.com">infos@myshelter.com</a></li>
                </ul>
              </div>
            </div>

            <div class="col-sm-3 col-xs-12">
              <div class="footerContent">
                <h5>Newsletter</h5>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter your email" aria-describedby="basic-addon21">
                  <span class="input-group-addon" id="basic-addon21"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                </div>
                <ul class="list-inline">
                  <li><a href="http://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="http://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="http://www.google.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="http://www.pinterest.com"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                  <li><a href="http://www.vimeo.com"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyRight clearfix">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-push-6 col-xs-12">
              <ul class="list-inline">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-sm-pull-6 col-xs-12">
              <div class="copyRightText">
                <p>Copyright © 2016. All Rights Reserved by <a target="_blank" href="http://www.iamabdus.com/">YoloCompany</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>

  <!-- INQUIRY MODAL -->
  <div class="modal fade bookingModal modalBook" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Inquiry About Tour</h4>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="form-group">
              <input type="text" class="form-control" id="yourName" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="yourEmail" placeholder="Your Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn buttonCustomPrimary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
