<section class="darkSectionHome">
  <div class="container">
    <div class="row gridResize">
      <form action="<%=refuges_path %>" class="">
        <div class="col-sm-3 col-xs-12">
          <div class="sectionTitleDouble">
            <p>Find</p>
            <h2>your <span>shelter</span></h2>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div class="searchTour">
                <select name="guiest_id2" id="guiest_id2" class="select-drop">
                  <option value="0">Mountain Range</option>
                  <option value="1">Alpes</option>
                  <option value="2">Pyrenees</option>
                  <option value="3">Vosges</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="input-group date ed-datepicker">
                <%= form_tag url_for(action: 'index', controller: 'refuges'), :id => 'search', :method => :get do %>
                <%= text_field_tag :search, params[:search], placeholder: "LOCATION"%>
                <div class="input-group-addon">
                <span class="fa fa-search"></span>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <%= submit_tag "Search Shelter", :address => nil, class: "btn btn-success" %>
          <% end %>
        </div>
      </form>


    </div>
  </div>
</section>
