#search {
  width: 100%;
  text-align: center;
  height: 45px;
  background: transparent;
  border: none;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3);
  padding: 4px 12px 4px 0;
  box-shadow: none !important;
}
