.banner {
  color: white;
  text-align: center;
  height: 90vh;
  background-image:linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), image_url('slider-02.jpg');
  background-size: cover !important;
  position:relative;
}

.banner-content {
  position:absolute;
  top:40%;
  left:11%;
}

.darkSectionHome {
  position:absolute;
  bottom:0%;
  opacity:1;
  width: 100%;
  padding: 30px 0;
  background-color: #262a2e;
  display: block;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.banner-login {
  position:relative;
  color: white;
  text-align: center;
  height: 90vh;
  background-image:linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), image_url('https://hd.unsplash.com/photo-1470168887220-08d7ba3cce1f');
  background-size: cover !important;
  }

.banner-profile {
  position:relative;
  color: white;
  text-align: center;
  height: 90vh;
  background-image:linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), image_url('https://hd.unsplash.com/photo-1470168887220-08d7ba3cce1f');
  background-size: cover !important;
  }

.banner-refuge {
  position:relative;
  color: #345154;
  text-align: center;
  height: 100vh;
  background-image:linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), image_url('https://hd.unsplash.com/photo-1470168887220-08d7ba3cce1f');
  background-size: cover !important;
  }

#login {
  position:absolute;
  top:30%;
  right:10%,
}

#profile {
  position:absolute;
  top:25%;
  right:8%,
}

#refuge {
  position:absolute;
  top:5%;
  left:8%,
}

#forgot {
  color:white;
}

#form-refuge {
  margin-bottom:10px;
}

#create {

    position: absolute;
    left: 4%;
    bottom: -50%;
}

#refuge_cond {
  color:white;
}
