<div class="banner-profile" style="background: url('https://hd.unsplash.com/photo-1454618454636-a42c7330ccce');">
  <div class="col-xs-12 col-sm-3 col-sm-offset-6" id="profile">

    <%= render 'form', profile: @profile %>

  </div>
</div>




